.container {
  -webkit-box-shadow: 0 1px 4px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(100, 100, 100, 0.4);
  box-shadow: 0 1px 4px rgba(100, 100, 100, 0.4);
  border: 1px solid #c6c6c6;
  margin: 2%;
  max-width: 880px;
  padding: 3.125% 6.25%;
  margin: 3.125% auto;
  padding: 30px 64px;
  background-color: white;
}

html {
}

body{
  /*font-family: 'Bitter', serif;*/
  font-family: 'Merriweather', serif;
  background-color: white;
  background: url(../images/backgrounds/white_wave.png) #ebebeb;
  
}

.page-title {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0em;
}

.nav-list{
  margin: 0px;
  text-indent: 0;
  overflow: hidden;
  display: block;
}

.nav-list-item{
  display: inline-block;
  margin: 0 2%;
  position: relative;
}

.nav-list-link{
  padding: 1em 0;
  border-bottom: 0;
  text-decoration: none;
  color: #666;
  display: block;
}


nav {
  border-bottom: 1px dotted #d3d3d3;
  border-top: 1px dotted #d3d3d3;
  display: inline-block;
  margin: 22px auto;
  width: 100%;
  text-align: center;
  padding: 0;
}
